@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #1c8ef9 !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .form-wrapper {
    width: 100%;
    height: 100%;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar-light {
    background-color: #ffffff;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.form-inner {
    width: 450px;
    background-color: #ffffff;
    box-shadow: 0 14px 80px rgba(34, 35, 80, 0.2);
    margin: 100px auto auto;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.form-wrapper .form-control:focus .form-time-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.form-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.custom-control-label {
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7f7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

.form-control{
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-time-control {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#end-time-label {
    margin-left: 20px;
}

.form-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper {
    margin-top: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.wrapper-inner {
    width: 90%;
    margin: 100px auto auto;
    padding: 40px 55px 45px 55px;
    background-color: #ffffff;
    border-radius: 15px;
    transition: all .3s;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}

.trash-place-inner {
    margin-top: 150px;
}

.info-item {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.info-item h3 {
    font-weight: 400;
}

.info-property {
    margin-left: 20px;
}

.home-wrapper {
    width: 100%;
    height: calc(100vh - 56px);
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.map-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.place-preview {
    width: 400px;
    height: calc(100% - 56px);
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: #fff;
}

.place-preview-block {
    margin: auto;
}

.head div{
    width: 100%;
    text-align: right;
    font-size: 45px;
    font-weight: 300;
}

.close-button:hover {
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}

.head h3 {
    padding-bottom: 50px;
    font-family: 'Fira Sans', sans-serif;
}

.place-preview-block p, h5 {
    text-align: left;
    margin-left: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.filter-button {
    position: absolute;
    z-index: 2;
    right: 50px;
    bottom: 50px;
    border: 1px solid black;
    border-radius: 50px;
    margin: auto;
}

.filter-block {
    width: 400px;
    height: calc(100% - 56px);
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-check {
    width: 50%;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.submit-filters {
    margin-top: 30px;
}

.price-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.price-item h3, h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.places-table-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.places-table {
    margin-top: 20px;
}

.places-table, th, td {
    border: 1px solid black;
    font-weight: 400;
}

.places-table-header {
    text-align: center;
    margin-top: 50px;
}

.add-place-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}